/bin
# /assets/leaderboard_images
*.pyc
test.py
.vscode/settings.json
temp
.pytest_cache
.vscode/
/assets/top_500_unprocessed_images
./assets/dataset/
./assets/lb
/node_modules
.env
.bashrc
.idea
tmp
node_modules/
/assets/leaderboard_images
