version: "3.9"
services:
  nginx:
    image: nginx:latest
    depends_on:
      - web
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf"
    ports:
      - "7777:80"

  server: # port 8000 is server

      image: ghcr.io/thearyadev/top500-aggregator:latest
      #    build: .
      environment:
        MYSQLDATABASE: 'railway'
        MYSQLUSER: 'root'
        MYSQLPASSWORD: 'QiyWsI7y1oGGJjz4biiu'
        MYSQLHOST: 'database'
        MYSQLPORT: '3306'
      depends_on:
        - database

  frontend:
    build:
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
  # these services are internal, so secrets do not matter.
  database:
    image: mysql@sha256:566007208a3f1cc8f9df6b767665b5c9b800fc4fb5f863d17aa1df362880ed04
    environment:
      MYSQL_DATABASE: 'railway'
      MYSQL_USER: 't5aggr'
      MYSQL_PASSWORD: 'QiyWsI7y1oGGJjz4biiu'
      MYSQL_ROOT_PASSWORD: 'QiyWsI7y1oGGJjz4biiu'
    volumes:
        - ./mysql-data:/var/lib/mysql