.card {
    @apply border-2;
    @apply p-3;
    @apply rounded;
    @apply mb-3;
}

.heading-container {
}

.title {
    @apply text-lg;
    @apply font-bold;
}

.subtitle {
    @apply font-extralight text-center;
}

.cardBodyWrap {
    @apply grid grid-cols-1 md:grid-cols-3 gap-4;
}
