{% extends "base_template.html" %}
{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>

<script src="/static/js/trends.js" defer> </script>
{% endblock scripts %}
{% block heading %}Cross Season Trends{% endblock heading %}

{% block disclaimer %}

<div class="disclaimer-container">
    <p class="disclaimer"><em>DISCLAIMER:</em> The data for Overwatch 1 is heavily skewed by two factors: 1. Doomfist
        was moved to tank, and the legacy leaderboards were updated. 2. The data was collected months after the
        concusion of Overwatch 1, as such there are 3-5 pages missing from each section. Please consider both of these
        when evaluating data from Overwatch 1.</p>

</div>

{% endblock disclaimer %}




{% block content %}


<main class="body">
    <data data-trends="{{trends}}"></data>
    <seasons style="display: none;" data-seasons="{{ seasons }}"></seasons>
    <section id="hero_occ_all" class="section-box d-flex flex-row flex-wrap card ">
        <!-- <h2 class="section-title">All Heroes: By Region</h2> -->
        <div class="break p-5"></div>
        <article class="article">
            <div>
                <p>Hero Trends</p>
                <div id="T_ALL_ALL" class="big-chart">

                </div>
            </div>
        </article>

    </section>


</main>

{% endblock content %}